/*
table#lae-user-grades th.cell { 
	width: 30em; 
} 
*/
.laegradestable {
	font-size: 1em;
	line-height: 1.2em;
	vertical-align: middle;
	margin: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.grade-report-laegrader table#lae-user-grades {
/*	padding:0;
	margin:0;*/
    font-style:bold;
/*    border:1px solid #cccccc;
    border-collapse:collapse;*/
}

.laegradestable .cell {
    border:1px solid #cccccc;
    border-collapse:separate;
    min-width: 15em;
    height: 56px;
}

.laegradestable th.user img {
	width:35px;
	height:35px;
}

.laegradestable th.user {
	text-align:left;
	line-height: 0px;
}

.laegradestable th.user a {
	margin-left:5px;
}

.laegradestable th.useremail {
	min-width:160px;
	height:20px;
	vertical-align:middle;
}

.laegradestable th#studentheader {
	vertical-align:middle;
/*	line-height: 70%; */
	min-width:15em;
}
/*
.laegradestable a.action-icon {
	left-margin: 5px;
}
*/

.laegradestable img.iconsmall,
.laegradestable img.smallicon {
	margin-left: 5px;
	vertical-align:middle;
	width: 10px;
	height: 10px;
	display:inline;
}

path.grade-report-laegrader table#lae-user-grades th.range, .grade-report-laegrader table#lae-user-grades td.grade {
    text-align:center;
    background-color: #F3EAD8
}	
/*
td.controls.action-icon {
    margin:2px;
}	
*/

.laegradestable td.range {
	text-align:center;
    font-style:bold;
}

/*
.laegradestable td.header, td.controls {
	text-align:right;
    font-style:bold;
}
*/

.laegradestable td.header, 
.laegradestable th.range,
.laegradestable th.controls {
	text-align: right;
    font-style:bold;
    height: 1.2em;
    background-color: #F3EAD8;
}

.catblue {
	background-color:#F3DFD0;
}

.catorange {
	background-color:#D0DBF3;
}

.laegradestable cell#userreport {
/*	border:0px;*/
/*	vertical-align:middle;*/
/*    border-collapse:collapse;*/
}

.laegradestable th#userreport, 
.laegradestable td.userreport, 
.laegradestable cell#userreport{
	min-width:13px;
	max-width: 1.7em;
	min-height:1em; 
}

.laegradestable img.usergradesicon {
	height: 1em;
}

table#lae-user-grades .quickfeedback {
	border:1px dashed;
	margin-left: 5px;
}

.path-grade-report-laegrader div.submit {
	text-align:center;
}

/*MDL-21088 - IE 7 ignores nowraps on tds or ths so we put a span within it with a nowrap on it*/
.heading_name_row th span {
	white-space:nowrap;
}
/*
.laegradestable tr.heading th.categoryitem, 
.laegradestable tr.heading th.courseitem, 
.laegradestable tr.heading th.item {
	border: 1px solid #cccccc;
	vertical-align:bottom;
	min-width:130px;
}
*/
/*
.laegradestable th.highlightable {
	vertical-align:bottom;
	min-width:130px;
}
*/

table#lae-user-grades.laegradestable tr.avg td.cell,
.laegradestable div.rangevalues {
	font-weight:bold;
    background-color: #F3EAD8;
}

.laegradestable td.avg,
.laegradestable td.controls,
.laegradestable td.range {
	text-align:center;
    font-style:bold;
    background-color: #F3EAD8;
    height: 1.2em;
}

.laegradestable td.userreport {
/*	border:0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;*/
	vertical-align:middle;
}

.laegradestable tr.odd td.cell, 
.laegradestable tr.odd th.cell {
	background-color:#dfdfdf;
/*	white-space:nowrap;*/
}

.laegradestable th.item.cell.hidden, 
.laegradestable td.cell.grade.hidden,
.laegradestable th.item.cell.gray, 
.laegradestable td.cell.grade.gray {
	background-color:#cfcfcf;
}

table#lae-user-grades tr td.overridden {
	background-color:#F3E4C0;
}

table#lae-user-grades tr.odd td.overridden {
	background-color:#EFD9A4;
}

.laegradestable select {
    height: 2.1em;
    line-height: 2.1em;
    font-size: .9em;
    margin-bottom: 0px;
/*    padding: 0px 0px;*/
}

table#lae-user-grades input[type="text"] {
	font-size: 1em;
	height: 1.2em;
	margin-bottom: 0px;
/*    padding: 0px;*/
    vertical-align: bottom;
    width: 6em;
    line-height: 1.2em;
    text-align: center;
}

/***
*** added the following for the alignment issues
***/
